<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="keywords" content="jorge, passos, Arquitetura, Restauro, Construções, engenharia civil, civil, patrimonio historico, projeto, Pernambuco, Recife, Brazil, imip, Francisco Brennand, Faculdade de Direito, ceci, arco web, Olinda, igrejas, monumentos Historicos, historia, paço Alfandega, recife antigo"/>
  <meta name="description" content="Jorge Passos Arquitetura e Restauro fundada no ano de 1992, e uma empresa constituida por cotas de participacao limitada, com atuacao no ambito da arquitetura, construcao civil e restauracao do patrimonio cultural edificadoJorge Passos Arquitetura e Restauro fundada no ano de 1992, e uma empresa constituida por cotas de participacao limitada, com atuacao no ambito da arquitetura, construcao civil e restauracao do patrimonio cultural edificadoJorge Passos Arquitetura e Restauro fundada no ano de 1992, e uma empresa constituida por cotas de participacao limitada, com atuacao no ambito da arquitetura, construcao civil e restauracao do patrimonio cultural edificado"/>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
